[Unit]
Description=Gunicorn instance to serve myproject
After=network.target

[Service]
User=vagrant
Group=www-data
WorkingDirectory=/home/vagrant/myproject
Environment="PATH=/home/vagrant/myproject/myprojectenv/bin"
ExecStart=/home/vagrant/myproject/myprojectenv/bin/gunicorn --workers 3 --bind unix:/home/vagrant/myproject/myproject.sock -m 007 wsgi:app

[Install]
WantedBy=multi-user.target
